html{
    min-height: 100%;
    background-image: url("../Assets/screenshot Game/Game-wallpaper2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
 }

.content {
    background-color: #F4F4F4;
}

.content .content-title h1 {
    text-align: center;
    color: #ff7200;
    font-size: 30px;
}

.content .content-title {
    text-align: center;
    margin-bottom: 50px;
}

.image-container .image-row-container {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.image-container .image-row-container .image-column-container {
    margin: 0 5px;
}

.image-container .image-row-container .image-column-container .agent-image {
    width: 250px;
    height: 415px;
    position: relative;
    background-color: #0e3e5b;
    border: 5px solid #0e3e5b;
}

.image-container .image-row-container .image-column-container .agent-image img {
    width: 100%;
}

.image-container .image-row-container .image-column-container .agent-image:hover .image-overlay {
    opacity: 1;
}

.image-container .image-row-container .image-column-container .agent-image:hover {
    border: 5px solid transparent;
    border-image-source: linear-gradient(to right, red 0%, #960200 100%);
    border-image-slice: 5;
}

.image-container .image-row-container .image-column-container .agent-image:hover+.agent-name {
    background-image: linear-gradient(to right, red 0%, #960200 100%);
}

.image-container .image-row-container .image-column-container .agent-image .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.image-container .image-row-container .image-column-container .agent-name {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #0e3e5b;
    color: white;
}

/* MEDIA SCREEN */

@media screen and (max-width: 1130px) {
    .image-container .image-row-container {
        flex-direction: column;
        margin-top: 0px;
    }
    .image-container .image-row-container .image-column-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        width: 250px;
    }
    .image-container .image-row-container .image-column-container .agent-image {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 800px) {
    .image-container .image-row-container {
        flex-direction: column;
        margin-top: 0px;
    }
    .image-container .image-row-container .image-column-container {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .image-container .image-row-container .image-column-container .agent-image {
        margin-left: auto;
        margin-right: auto;
    }
}